.calculation {
  padding: 32px 24px;

  ul {
    list-style: none;
  }

  &__detail {
    margin-top: 24px;
  }

  &__result {
    margin-top: 16px;
  }

  &__footnote {
    margin-top: 16px;
    font-size: 14px;
  }
}